<div class="carrito-container">
  <h2>Carrito de compras</h2>

  <div *ngIf="carrito().length > 0; else vacio" class="carrito-items">
    <ul>
      <li
        *ngFor="let producto of carrito(); trackBy: trackByProductoId"
        class="item"
      >
        <div class="item-left">
          <strong>{{ producto.nombre }}</strong>
        </div>

        <div class="item-right">
          <span>${{ producto.precio | number: '1.2-2' }}</span>
          <button (click)="quitar(producto.id)" class="btn-quitar">
            Quitar
          </button>
        </div>
      </li>
    </ul>

    <div class="resumen">
      <p><strong>Subtotal:</strong> ${{ subtotal() | number: '1.2-2' }}</p>
      <p><strong>IVA (16%):</strong> ${{ iva() | number: '1.2-2' }}</p>
      <p class="total">
        <strong>Total a pagar:</strong>
        ${{ totalConIva() | number: '1.2-2' }}
      </p>
    </div>

    <div id="paypal-button-container" class="paypal-btn"></div>
  </div>

  <ng-template #vacio>
    <p>El carrito está vacío</p>
  </ng-template>
</div>
