<div *ngIf="carrito.length > 0; else vacio">
  <ul>
    <li *ngFor="let producto of carrito; trackBy: trackByProductoId">
      {{ producto.nombre }} - ${{ producto.precio }}
      <button (click)="quitar(producto.id)">Quitar</button>
    </li>
  </ul>
  <p>Total: ${{ total() }}</p>
  <button (click)="vaciar()">Vaciar carrito</button>
  <button (click)="exportarXML()">Exportar XML</button>
  <div id="paypal-button-container"></div>
</div>

<ng-template #vacio>
  <p>El carrito está vacío</p>
</ng-template>
