<nav class="sweet-nav">

  <div class="nav-left">
    <span class="logo">ArtoArte</span>
  </div>

  <ul class="nav-links">
    <li *ngIf="!esAdmin()"><button class="nav-btn" (click)="irACatalogo()">Catálogo</button></li>

    <ng-container *ngIf="auth.usuarioSignal(); else noLogin">
       <li *ngIf="esAdmin()"><button class="nav-btn" (click)="irAAdmin()">Admin</button></li>
      <li><button class="nav-btn" (click)="irAPerfil()">Perfil</button></li>
      <li><button class="nav-btn" (click)="logout()">Cerrar sesión</button></li>
    </ng-container>

    <ng-template #noLogin>
      <li><button class="nav-btn" (click)="irAInicio()">Cuenta</button></li>
    </ng-template>
     <li *ngIf="!esAdmin()" class="cart" (click)="abrirCarrito()">
      <span class="cart-icon">🛒</span>
      <span class="badge">{{ getTotalUnidades() }}</span>
    </li>
  </ul>

</nav>
